// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-btn{
	color: #fff;
	background-color: #5cb85c;
}

.unfollow-btn{
	color: #fff;
	background-color: #337ab7;
}